.bg {
    animation:slide 4s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #357edd 50%, #5e2ca5 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
}

.bg3 {
    animation-duration:6s;
}

.content {
    background-color:white;
    transform:translate(0%, 5%);
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}